<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/home">DASHBOARD PEDIDO</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/itens">ITENS</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/login">LOGIN</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/caixa">CAIXA</a>
      </li>
    </ul>
    <form (submit)="addOrdem($event)" #ordemForm="ngForm" class="form-inline float-xs-right">
      <input class="form-control" type="text" placeholder="Incluir Ordem" [(ngModel)]="ordem.nome" name="nome" #nome="ngModel"
        required>

      <button class="btn btn-success" type="submit">Criar</button>
    </form>
  </div>
</nav>

<div class="jumbotron">
  <div class="container-fluid">
    <router-outlet></router-outlet>

  </div>
</div>