<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title" id="myModalLabel">Pedido: {{ordem?.nome}} </h4>
  </div>
  <div class="modal-body">
    <div class="container">
      <form>
        <div class="form-group row">
          <label for="inputValor" class="col-sm-2 col-form-label">Valor</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" placeholder="Valor"
            id="valor" 
                   [(ngModel)]="movimentacao.valor" name="valor"
                   #nome="ngModel"  [value]="movimentacao?.valor">
          </div>
        </div>
        <div class="form-group row">
          <label for="inputObservacao" class="col-sm-2 col-form-label">Observação</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" placeholder="Observação"
            id="observacao" 
                   [(ngModel)]="movimentacao.observacao" name="observacao"
                   #nome="ngModel"  [value]="movimentacao?.observacao">
          </div>
        </div>
        <fieldset class="form-group row">
          <legend class="col-form-legend col-sm-2">Tipo de Operação</legend>
          <div class="col-sm-10">
            <div class="form-check">
              <label class="form-check-label">
            <input class="form-check-input" type="checkbox"  
            (change)="movimentacao.tipoDeOperacao = 'Saída - Sangria'" >
            Saída - Sangria
          </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
            <input class="form-check-input" type="checkbox"
            (change)="movimentacao.tipoDeOperacao = 'Saída - Pagamento de Despesas'">
            Saída - Pagamento de Despesas
          </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
            <input class="form-check-input" type="checkbox"
            (change)="movimentacao.tipoDeOperacao = 'Entrada - Acréscimo'"> 
            Entrada - Acréscimo
          </label>
            </div>
          </div>
        </fieldset>
        <div class="form-group row">
          <label class="col-sm-2">Forma de Pagamento</label>
          <div class="col-sm-10">
            <div class="form-check">
              <label class="form-check-label"> 
            <input class="form-check-input" type="checkbox"
            (change)="movimentacao.formaDePagamento = 'Cartão de Debito'"> Cartão de Debito 
          </label>
            </div>
            <div class="form-check">
              <label class="form-check-label"> 
            <input class="form-check-input" type="checkbox"
            (change)="movimentacao.formaDePagamento = 'Cartão de Crédito'"> Cartão de Crédito
          </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
            <input class="form-check-input" type="checkbox"
             (change)="movimentacao.formaDePagamento = 'Dinheiro'"> Dinheiro 
          </label>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <div class="offset-sm-2 col-sm-10">
            <button type="button" (click)="registrarMovimentacao();" class="btn btn-primary">Registrar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>