    <div class="col-sm-3"  >
          <div class="card">
            <!--<img class="card-img-top" src="..." alt="Card image cap">-->
            <div class="card-block alert alert-success">
              <h4 class="card-title "> {{nome}} </h4> 
              <!--<p>Index: {{i}} </p> -->
              <p>Data: 28/12/2016 </p>
              <p>Horario: 18:00 hrs </p>
            </div>
            <ul class="list-group list-group-flush">
 
            </ul>
            <div class="card-block">
                <button type="button" class="btn btn-outline-secondary btn-lg btn-block"
                 data-toggle="modal" data-target="#myModal"
                  >Adicionar</button>
                <button type="button" class="btn btn-outline-warning btn-lg btn-block"
                >Cancelar</button>
            </div>
          </div>
        </div>